# /node_modules/* and /bower_components/* in the project root are ignored by default

**/node_modules/*
**/coverage/*
**/lib/*

# Ignore built files except build/index.js
build/*
!build/index.js
scripts/preinstall-script.js
